#page_accueil header nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Cormorant SC', serif;
    margin-right: 10%;
}

#page_accueil header nav ul a
{
    color: #f9f9f9;
    text-decoration: none;
    font-size: 2vw;
    font-weight: 400;
}

#page_accueil
{
    width: 100vw;
    height: 100vh;
}

#page_accueil header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
}

#page_accueil header nav
{
    width: 100%;
    margin-left: 10%;
}

#page_accueil header img{
    width: 150%;
    min-width: 80px;
    min-height: 200px !important;
    height: auto;
}

#page_accueil header .link_logo
{
    margin-left: 101px;
}

#page_accueil .not_cross
{
    display: none !important;
}

#page_accueil .hamburger
{
    text-align: right;
    margin-right: 101px;
}

#page_accueil .hamburger img
{
    width: 50px !important;
    color: #f9f9f9;
    min-width: 0;
    min-height: 0;
}

@media screen and (max-width: 800px) {

    #page_accueil .all_button
    {
        display: none !important;
    }

    #page_accueil nav ul
    {
        display: none !important;
    }

    #page_accueil .hamburger
    {
        display: block !important;
    }

    #page_accueil .arrow_down
    {
        display: block !important;
    }

    #page_accueil .title
    {
        font-size: 40px !important;
        transform: translateY(100%) !important;
    }

}

@media screen and (max-width: 950px) {

    #page_accueil header .link_logo
    {
        margin-left: 50px;
    }
    
    #page_accueil header nav ul
    {
        margin-right: 10%;
    }

}

@media screen and (max-width: 1080px) {

    #page_accueil header nav ul a
    {
        font-size: 2.2vw;
    }

}

@media screen and (max-width: 680px) {

    #page_accueil header img
    {
        width: 200px;
    }

    #page_accueil header .link_logo
    {
        margin-left: 60px;
    }

}

#page_accueil header nav ul span
{
    width: 100%;
    height: 2px;
    background-color: #f9f9f9;
    display: block;
    margin-top: 8px;
    transform: translateX(-100px);
    opacity: 0;
}

#page_accueil header nav ul a:hover span
{
    animation: header 0.7s ease forwards;
}

@keyframes header
{
    70%{
        transform: translateX(90px);
    }
    100%{
        transform: translateX(20px);
        opacity: 1;
    }
}

 #page_accueil .slide
{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: 2s left ease;
}

#page_accueil .button
{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f9f9f9;
    transition: 0.4s;
    box-sizing: border-box;
}

#page_accueil .button:hover
{
    cursor: pointer;
}

#page_accueil .all_button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 20px;
    box-sizing: border-box;
}

#page_accueil .active
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #f9f9f9;
    background-color: transparent;
    box-sizing: border-box;
}

#page_accueil .arrow
{
    font-size: 25px;
    color: #f9f9f9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #f9f9f9;
    padding: 15px;
}

#page_accueil .arrow:hover
{
    cursor: pointer;
}

.ricochet_left
{
    cursor: pointer;
    animation: 0.8s ease ricochet_left;
}

@keyframes ricochet_left
{
    0%{
        left: 50px
    }
    15%{
        left: 35px;
    }
    40%{
        left: 50px;
    }
    75%{
        left: 40px;
    }
    100%{
        left: 50px;
    }
}

.ricochet_right
{
    cursor: pointer;
    animation: 0.8s ease ricochet_right;
}

@keyframes ricochet_right
{
    0%{
        right: 50px
    }
    15%{
        right: 35px;
    }
    40%{
        right: 50px;
    }
    75%{
        right: 40px;
    }
    100%{
        right: 50px;
    }
}

#page_accueil #slide_left
{
    left: 50px;
}

#page_accueil #slide_right
{
    right: 50px;
}

#page_accueil .fa-chevron-left, #page_accueil .fa-chevron-right
{
    margin: auto;
    height: 25px;
    width: 25px;
    text-align: center;
}

#page_accueil #slideshow_home .left
{
    left: -100%;
    z-index: -4;
}

#page_accueil #slideshow_home .right
{
    left: 100%;
    z-index: -4;
}

#page_accueil #slideshow_home .opaque
{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#page_accueil .title
{
    color: #f9f9f9;
    font-family: 'Cormorant SC', serif;
    font-size: 6vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
}

#page_accueil .aquitaine
{
    margin-left: 35%;
}

@media screen and (max-width: 680px) {

    #page_accueil .arrow
    {
        font-size: 15px;
        padding: 10px;
    }

    #page_accueil .fa-chevron-left, #page_accueil .fa-chevron-right
    {
        width: 15px;
        height: 15px;
    }

}

#page_accueil .arrow_down
{
    width: 75px;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-bottom: 40px;
    transform: translateX(-50%);
    display: none;
    animation: infinite 1s ease fleche;
}

@keyframes fleche {
    0%{
        margin-bottom: 40px;
    }
    75%{
        margin-bottom: 25px;
    }
    100%{
        margin-bottom: 40px;
    }
}

#page_accueil header .mobile_menu
{
    width: 100vw;
    height: 100vh;
    background: #0e0e0e;
    z-index: 5;
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    transition: 0.7s ease;
}

#page_accueil header .show
{
    left: 0;
}

#page_accueil header .mobile_menu ul
{
    color: #f9f9f9;
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 80%;
    padding: 0;
}

#page_accueil header .mobile_menu ul li a
{
    font-size: 5vw;
}

#page_accueil header .mobile_menu ul li
{
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}