#agenda
{
    width: 100vw;
    height: 115vh;
    background: #f9f9f9;
    padding-top: 10px;
    position: relative;
}

#agenda .titre
{
    text-align: center;
    display: block;
}

#agenda h2
{
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    font-size: 70px;
    color: #8f8787;
    display: inline-block;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

#agenda h2 span
{
    width: 100%;
    height: 2px;
    background-color: #8f8787;
    display: block;
    margin-top: 8px;
    transform: translateX(100px);
}

#agenda #date_exposition
{
    color: #75B2B5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 30px;
}

#agenda #agenda_left
{
    left: 50px;
}

#agenda #agenda_right
{
    right: 50px;
}

#agenda .arrow_down
{
    display: block !important;
}

#agenda .arrow
{
    font-size: 25px;
    color: #8f8787;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #8f8787;
    padding: 15px;
}

#agenda .arrow:hover
{
    cursor: pointer;
}

#agenda .fa-chevron-left, #agenda .fa-chevron-right
{
    margin: auto;
    height: 25px;
    width: 25px;
    text-align: center;
}

.ricochet_agenda_left
{
    cursor: pointer;
    animation: 0.8s ease ricochet_agenda_left;
}

@keyframes ricochet_agenda_left
{
    0%{
        left: 50px
    }
    15%{
        left: 35px;
    }
    40%{
        left: 50px;
    }
    75%{
        left: 40px;
    }
    100%{
        left: 50px;
    }
}

.ricochet_agenda_right
{
    cursor: pointer;
    animation: 0.8s ease ricochet_agenda_right;
}

@keyframes ricochet_agenda_right
{
    0%{
        right: 50px
    }
    15%{
        right: 35px;
    }
    40%{
        right: 50px;
    }
    75%{
        right: 40px;
    }
    100%{
        right: 50px;
    }
}

#agenda .button_agenda i
{
    font-size: 25px;
    color: #8f8787;
}

#agenda .button_agenda
{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #00838F;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #757575;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: 0.4s ease;
}

#agenda .button_agenda::after
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: #00838F;
    z-index: -1;
    transition: 0.4s ease;
}

#agenda .button_agenda:hover::after
{
    left: 0;
    color: #f9f9f9;
    animation: animation_button ease 0.7s;
}

#agenda .button_agenda:hover, #agenda .button_agenda:hover i
{
    color: #f9f9f9;
}

@keyframes animation_button {
    0%{
        left: -100%;
    }
    60%{
        left: 20%;
    }
    100%{
        left: 0%;
    }
}

#agenda .container_button_agenda
{
    width: 33%;
}

#agenda .button_agenda p
{
    margin: 0;
}

#agenda #date_exposition
{
    margin-top: 15px;
    width: 33%;
    height: 35px;
    padding: 0;;
    margin-left: 33%;
    list-style-type: none;
    position: relative;
    overflow: hidden;
}

#agenda #date_exposition li
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.4s;
    width: 100%;
}

#agenda #date_exposition .now
{
    top: 0;
}

#agenda #date_exposition .top
{
    top: -100%;
}

#agenda #date_exposition .bottom
{
    top: 100%;
}

#agenda .titre_agenda_slider
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

@media screen and (max-width: 680px) {

    #agenda .arrow
    {
        font-size: 15px;
        padding: 10px;
    }

    #agenda .fa-chevron-left, #agenda .fa-chevron-right
    {
        width: 15px;
        height: 15px;
    }

}

#input_range_agenda
{
    -webkit-appearance: none;
    width: 55%;
    height: 2px;
    background: #8f878f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  #input_range_agenda:hover
  {
    opacity: 1;
  }

  #input_range_agenda::-webkit-slider-thumb
  {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #8f878f solid 3px;
    background: #f9f9f9;
    cursor: pointer;
  }

  #input_range_agenda::-moz-range-thumb
  {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: #8f878f solid 3px;
    background: #f9f9f9;
    cursor: pointer;
  }

  .slider_input_range
  {
    text-align: center;
    margin-top: 40px;
  }

  #agenda .slide_agenda
  {
    width: 450px;
    height: 340px;
    background-size: cover !important;
    background-position: center !important;
    border: solid #707070 1px;
    flex-shrink: 0;
    transition: 0.6s ease;
  }
  
  #agenda #slider_agenda_container
  {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: relative;
      width: 80%;
      margin: auto;
      margin-top: 35px;
      left: 0;
      transition: 0.6s ease;
  }

  #agenda .left, #agenda .right
  {
      z-index: 1;
  }

  #agenda .left.next
  {   
      margin-left: 10%;
      margin-right: -10%;
  }

  #agenda .right.next
  {
      margin-left: -10%;
      margin-right: 10%;
  }

  #agenda .right.next, #agenda .left.next
  {
      z-index: 2;
  }

  #agenda .active
  {
      z-index: 3;
  }

  #agenda .left, #agenda .right, #agenda .right.next, #agenda .left.next
  {
      margin-top: 5%;
      filter: blur(2px);
  }

  #agenda .slide_agenda
  {
    font-family: 'Montserrat', sans-serif;
    color: #f9f9f9;
    position: relative;
  }

  #agenda .slide_agenda::after
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  #agenda .slide_agenda.active h4 span
  {
    width: 100%;
    height: 2px;
    background-color: #f9f9f9;
    display: block;
    margin-top: 8px;
    transform: translateX(30px);
  }

  #agenda .slide_agenda h4
  {
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
  }

#agenda .slide_agenda ul
{
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#agenda .slide_agenda .container_text
{
    position: absolute;
    bottom: 25px;
    left: 25px;
}

#agenda .slide_agenda .more_info
{
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #f9f9f9;
    font-size: 30px;
    transition: 0.3s ease;
    display: none;
}

#agenda .slide_agenda.active .more_info
{
    display: block;
}

#agenda .slide_agenda .more_info:hover
{
    transform: scale(1.2);
}

@media screen and (max-width: 900px) {

    #agenda .titre_agenda_slider
    {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #agenda #date_exposition
    {
        margin-left: 0;
    }

    #agenda .button_agenda
    {
        width: 100%;
        height: 50px;
    }

}

@media screen and (max-width: 680px) {

    #agenda #date_exposition
    {
        font-size: 22px;
    }

    #agenda .button_agenda
    {
        width: 100%;
        height: 40px;
    }

    #agenda .slide_agenda
    {
        width: 350px
    }

}

@media screen and (max-width: 420px) {

    #agenda #date_exposition
    {
        font-size: 20px;
    }

    #agenda .slide_agenda
    {
        width: 300px
    }

}

@media screen and (max-width: 380px) {

    #agenda #date_exposition
    {
        font-size: 18px;
    }

}