#loading_page
{
    background-color: black;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.load
{
    width: 30%;
    height: auto;
}