.collec_perm_general h2{
  font-family: 'Cormorant SC', serif;
  font-size: 70px;
  color: #F9F9F9;
  font-weight: 400;
  text-align: center;
}
#collections .titre
{
    text-align: center;
    display: block;
}

#collections h2
{
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    font-size: 70px;
    display: inline-block;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
}

#collections h2 span
{
    width: 100%;
    height: 2px;
    background-color: #f9f9f9;
    display: block;
    margin-top: 8px;
    transform: translateX(100px);
}

body{
  background-color: #1E1E1E;
}
.collec_perm_general p{
  font-family: 'Montserrat', sans-serif;
  color: #F9F9F9;
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
}
.collec_paragraf{
  font-size: 30px;
}

.collec_perm_image{

  width: 600px;
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 40;
  background-size: cover;
  background-position: center;
}

.collec_perm_images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.collec_perm_images h3{
  font-family: 'Montserrat', sans-serif;
  color: #F9F9F9;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  
}
.collec_perm_une{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.collec_perm_image_contener{
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 999;
}
.collec_perm_image_contener h3{

  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  text-align:left;
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-weight:bold;
}
.collec_perm_filtre{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.4;
}

.collec_lien_bouton{
	text-decoration:none;
	color: #0E0E0E;
	display: inline;
	font-size: 30px;
	border:2px solid #0E0E0E;
	padding: 20px;
	
}
.collec_lien_bouton_2{
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
	color: #F9F9F9;
	font-size: 25spx;
	border:2px solid #75B2B5;
  padding: 20px;
  display: table;
  height: 100%;
}

.collec_bouton{
  position: absolute;
  align-content: center;
  z-index: 2000000;
  bottom: 25px;
  right: 25px;
  
}
.collec_name h3{
  font-size: 150%;
}