.affiche_backround_expo{ 
	background-color: #F9F9F9;	
	width: 100vw;
	height: 100vh;
}
.affiche_title_contenu{
	text-align: center;
	padding: 30px;
	font font-weight: lighter;
	font-size: 50px;
	color: #707070;
	margin-top: 0;
	font-family:"Cormorant SC", serif; 
}
.affiche_contener{
	display: flex;
	flex-direction: row;
}
.affiche_partie_image{

}
.affiche_img{

}
.affiche_img_black{
	position: absolute;
	padding-left: 30px ;
	z-index: 300;
}
.affiche_img_bleu{
	position: absolute;
	z-index: 200;
}

/*
.affiche_img_blue{ 
	position: absolute;
	 left: 104px;
	 top: 899px;
}

.affiche_img_black{
	position: absolute;
	z-index: 100000;
	left: 187px;
	top: 835px;
}

.affiche_explications{
	color: #707070;
	font-family: "Montserrat" , serif;
}

.affiche_title_expo_surf{
	color: #75B2B5;						
}

.affiche_horaire_expo_surf{
	color: #707070;
}
*/



