.footer {
	font-family:'Montserrat', sans-serif;
}
.footer_horaires {
	background-color: #EBCBAE;
	
}
.footer_horaires_titres{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 35px;
	color:#0E0E0E;
}
.footer_pied_de_page{
	width: 100vw;
	height: 100vh;
}
.footer_text_horaire{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 101px;
	margin-bottom: 0px;
	margin-top: 30px;
	font-size: 20px;
	text-decoration-color: #0E0E0E;
}

.footer_lien_bouton{
	text-decoration:none;
	color: #0E0E0E;
	display: inline;
	font-size: 110%;
	border:2px solid #0E0E0E;
	padding: 20px;
	
}
.footer_lien_bouton_2{
	text-decoration:none;
	color: #F9F9F9;
	display: inline;
	font-size: 110%;
	border:2px solid #75B2B5;
	padding: 20px;
}
.footer_bouton_1_decal{
	padding-left: 70vw;
}

.footer_border_bouton{
		padding-left: 50px;

}
.footer_bouton_1{
	padding-left: 1100px;
}
.footer_fermer{
	color:#EE3831;
}
.footer_liens{
	text-decoration-line: none;
	color: #F9F9F9;

}
.footer_icone{
	color: #F9F9F9;
	text-decoration: none;
	text-align: center;
}
.footer_liste_icone{
	display: flex;
	flex-direction: row; 
}

.footer_border{
	border: solid 2px;
	border-radius: 50%;
	color: #F9F9F9;
	list-style: none;
	font-size: 30px;
	width: 30px;
	height: 30px;
	padding: 10px;
	margin-right: 40px;
}
.footer_pied_de_page {
	background-color: #0E0E0E;

}
.footer_pied_de_page_logo{
	margin-top: 70px;
	padding-left: 101px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_icones_pied_de_page{
	color: #F9F9F9;
	margin-top: 80px;
	padding-right: 101px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer_liste{
	list-style: none;
	padding-left: 200px;
	margin-top: 40px;
	
}

.footer_liste_ligne{
	margin-top: 50px;
}

.footer_liste_lien{
	text-decoration: none;
	color: #F9F9F9;
	font-size: 25px;
}

.footer_contact{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 70px;
}

.footer_contact_titre{
	color: #F9F9F9;
	margin: 0px;
	font-size: 25px;
	padding-left: 60%;
}

.footer_bouton{
	align-content: center;
}

.footer_mentions_legales{
	background-color: #1E1E1E;
	display: flex;
	align-content: flex-end;
}

.footer_mentions_legales_liste{
	display: flex;
	flex-direction: row;
	list-style: none;
	color: #F9F9F9;
}

.footer_mentions_legales_lignes{
	margin: 15px;
	margin-left: 20px;
	font-size: 15px;
	display: block;
	align-content: center;
}
.footer_footer_decal{
	padding-left: 400px;
}
.footer_h2{
	font-size: 30px;
}